<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.6-preview" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.0.7-preview" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="4.0.0-rc-2048" targetFramework="net452" />
</packages>