packages

# User files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet restore
*.nuget.props
*.nuget.targets
project.lock.json

# NCrunch
*.ncrunchsolution
*.ncrunchproject
_NCrunch_WebCompiler